<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shx.student.mapper.ScyMapper">
    <insert id="insert">
        insert into scy(sno,cludno,eyear) values(#{sno},#{cludno},#{eyear})
    </insert>

    <select id="selectBySno" resultType="com.shx.student.pojo.Scy">
        select * from scy where sno=#{sno}
    </select>

    <select id="selectByCludno" resultType="com.shx.student.pojo.Scy">
        select * from scy where cludno=#{cludno}
    </select>

    <select id="select" resultType="com.shx.student.pojo.Scy">
        select * from scy where sno=#{sno} and cludno=#{cludno}
    </select>
    <delete id="delete">
        delete from scy where sno=#{sno} and cludno=#{cludno}
    </delete>
</mapper>